/* text colors */
.text-color.cyan { color: #0f78b1; }

.text-color.magenta { color: #cb0579; }

.text-color.light-brown { color: #ac4302; }

.text-color.green { color: #248315; }

.text-color.violet { color: #5900E8; }

.text-color.sand { color: #635b00; }

.text-color.aqua-blue { color: #048076; }

.text-color.pale-red { color: #D91515; }