/* Header */
.main-header { height: 60px; }

.main-header .brand {
    width: 356px;
    justify-content: flex-end;
    flex: 1;
}

.main-header .inner-space {
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 60px;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.main-header nav {
    justify-self: flex-end;
}

.main-header nav ul li { margin: 8px 6px 0; }

.main-header nav ul li span { cursor: pointer; }

@media screen and (max-width: 1024px) {

    .main-header .brand img { width: 300px; }

}

@media screen and (max-width: 768px) {

    .main-header .brand img { width: 230px; }

}