@import "commons/reset.css"; /* reset */

@import "commons/typography.css"; /* typography */

@import "commons/icons.css"; /* icons */

@import "commons/colors.css"; /* text colors */

@import "commons/buttons.css"; /* buttons */

@import "commons/header.css"; /* header */

@import "commons/footer.css"; /* footer */

.inner-space {
    max-width: 1300px;
    margin: auto;
}

/* Links in headers */
h2 a:hover { color: #009DFF; }

/* Main */
main {
    background-color: #f4f4f4;
    padding: 26px 20px 50px;
}

.main-container {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

/* Old Flow and Main Article */
.homepage-old-flow {
    display: grid;
}
.main-article {
    display: grid;
}
.homepage-old-flow,
.main-article {
    grid-template-columns: calc(66.666% - 10px) calc(33.333% - 10px);
    grid-gap: 20px;
    margin: 30px 20px 20px;
}

.old-news-flow [class^="old-article-"],
.main-article article {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.old-news-flow [class^="old-article-"] .texts,
.main-article article .texts { margin:0; }
.old-news-flow [class^="old-article-"] figure,
.main-article article figure {
    min-width: 250px;
    max-width: 250px;
    height: 150px;
    background-color: #cfcfcf;
    margin-right: 20px;
    position: relative;
}

.old-news-flow [class^="old-article-"] h2 {
    font-size: 18px;
    line-height: 24px;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
}

.old-news-flow [class^="old-article-"] .categories,
.main-article article .categories {
    margin-top: 0;
    margin-bottom: 8px;
}

.old-news-flow [class^="old-article-"] figure img,
.main-article article figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1100px) {

    .homepage-old-flow { grid-template-columns: calc(55% - 10px) calc(45% - 10px); }

    .main-article { grid-template-columns: calc(60% - 10px) calc(40% - 10px); }

    .old-news-flow [class^="old-article-"] figure,
    .main-article article figure {
        min-width: 180px;
        max-width: 180px;
        height: 150px;
    }

}
@media screen and (max-width: 768px) {

    .homepage-old-flow,
    .main-article {
        display:grid;
        grid-template-columns: 100%;
        grid-gap: 0;
        margin: 30px 20px;
    }
    .old-news-flow [class^="old-article-"] figure,
    .main-article article figure {
        min-width: 180px;
        max-width: 180px;
        height: 150px;
    }

    .old-news-flow [class^="old-article-"] h2,
    .main-article article h2 {
        font-size: 16px;
        line-height: 21px;
        -webkit-line-clamp: 4;
        -moz-line-clamp: 4;
    }

}
@media screen and (max-width: 500px) {

    .old-news-flow [class^="old-article-"],
    .main-article article { flex-direction: column; }
    .old-news-flow [class^="old-article-"] figure,
    .main-article article figure {
        min-width: 100%;
        max-width: 100%;
        height: 200px;
        margin-bottom: 20px;
        margin-right: 0;
    }

}

/* sidebar */
.interface-tv {
    width: 100%;
    max-width: 400px;
    border: 1px solid #000;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(100%, min-content);
    grid-template-rows: 60px auto;
}

.interface-tv header {
    display: flex;
    background-color: #000;
    justify-content: center;
}

.interface-tv header img {
    object-fit: contain;
    width: calc(100% - 40px);
}
.interface-tv .tv-box-body {
    background-color: #fff;
    padding: 20px;
}

.interface-tv .tv-box-body .categories { margin: 0 0 6px; }
.interface-tv .tv-box-body h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.interface-tv .tv-box-body figure {
    display: flex;
    overflow: hidden;
    height: 220px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.interface-tv .tv-box-body figure img { object-fit: cover; }
.brand-white {
    max-width: 250px;
    width: 90%;
}

/* All the figcations */
.old-news-flow [class^="old-article-"] figure figcaption,
.main-article .article-header figure figcaption,
.latest-primary figure figcaption,
.latest-secondary figure figcaption,
.interface-tv .tv-box-body figure figcaption {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: 100%;
}