@import "/assets/styles/common.css";

/* Special Typography */
.latest-primary h2 {
    font-size: 24px;
    line-height: 30px;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
}

/* Latest Primary */
.homepage-latest-news {
    display: grid;
    grid-template-columns: calc(56% - 10px) calc(44% - 10px);
    grid-template-rows: 375px;
    grid-gap: 20px;
}

.latest-primary { display: flex; }
.latest-primary figure {
    min-width: 345px;
    height: 375px;
    position: relative;
}

.latest-primary-texts { padding-left: 20px; }
.latest-primary-texts .texts {
    font-size: 16px;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
}

@media screen and (max-width: 1024px) {

    .homepage-latest-news {
        grid-template-columns: calc(60% - 10px) calc(40% - 10px);
        grid-template-rows: 350px;
    }

    .latest-primary figure {
        height: 350px;
        min-width: 350px;
    }

}

/* Secondary Primary */
.latest-secondary article { display: flex; }

.latest-secondary figure {
    min-width: 187px;
    max-width: 187px;
    height: 187px;
    position: relative;
}

.latest-secondary .secondary-texts { padding: 0 20px; }

.latest-secondary .secondary-texts h2 {
    font-size: 21px;
    line-height: 28px;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
}

@media screen and (max-width: 1024px) {

    .latest-secondary .secondary-texts h2 { line-height: 26px; }

    .latest-secondary figure {
        min-width: 174px;
        max-width: 174px;
        height: 174px;
    }

}

@media screen and (max-width: 980px) {

    .homepage-latest-news {
        grid-template-columns: calc(70% - 10px) calc(30% - 10px);
        grid-template-rows: 350px;
    }

    .latest-secondary figure { display: none!important; }

}

@media screen and (max-width: 860px) {

    .homepage-latest-news {
        grid-template-columns: calc(100% - 20px);
        grid-template-rows: 300px;
    }

    .latest-primary figure {
        height: 300px;
        width: 350px;
        min-width: 350px;
    }

    .latest-primary-texts .texts {
        -webkit-line-clamp: 3;
        -moz-line-clamp: 3;
    }

    .latest-secondary { margin-left: 20px; }

    .latest-secondary article:nth-child(1) { margin-bottom: 20px; }

    .latest-secondary article { align-items: center; }

    .latest-secondary figure {
        display: flex!important;
        min-width: 150px;
        max-width: 150px;
        height: 150px;
    }

    .latest-secondary .secondary-texts .categories { margin-top: 0; }
    
}

@media screen and (max-width: 768px) {

    .latest-secondary .secondary-texts h2 {
        font-size: 18px;
        line-height: 24px;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
    }

}

@media screen and (max-width: 650px) {

    .latest-primary figure {
        height: 300px;
        width: 300px;
        min-width: 300px;
    }

}

@media screen and (max-width: 600px) {

    .homepage-latest-news {
        grid-template-columns: 100%;
        grid-gap: 30px;
        grid-template-rows: 1fr;
    }

    .latest-primary { flex-direction: column; }

    .latest-primary-texts { padding-right: 20px; }

    .latest-primary figure {
        min-height: 190px;
        height: 190px;
        width: 100%;
        min-width: 100%;
    }

    .latest-primary figure img {
        width: 100%;
        object-fit: cover;
    }

}

@media screen and (max-width: 540px) {

    .latest-secondary .secondary-texts { padding-left: 0; }

    .latest-secondary figure { display: none!important; }

}

/* Secondary Carousel */
.homepage-secondary-news {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 165px;
    grid-gap: 0;
    border-top: 1px solid #ebebeb;
    padding: 30px 0;
    margin: 30px 20px 0 20px;
}

.homepage-secondary-news [class^="block-"] {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.homepage-secondary-news .categories { margin-top: 0; }

.homepage-secondary-news h2 {
    font-size: 16px;
    line-height: 21px;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
}

@media screen and (max-width: 980px) {

    .homepage-secondary-news { grid-template-columns: repeat(3, 33%); }

    .homepage-secondary-news [class^="block-"]:nth-child(4) { display: none; }

}

@media screen and (max-width: 650px) {

    .homepage-secondary-news { grid-template-columns: repeat(2, 50%); }

    .homepage-secondary-news [class^="block-"]:nth-child(3) { display: none; }

}

@media screen and (max-width: 550px) {

    .homepage-secondary-news { grid-template-columns: 100%; }

    .homepage-secondary-news [class^="block-"]:nth-child(2) { display: none; }

}

/* Banner */
.homepage-primary-banner {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: minmax(50px, auto);
    grid-gap: 20px;
    width: 100%;
    background: #aeff57;
    text-align: center;
    padding: 40px 0;
}

.homepage-primary-banner p {
    display: block;
    margin: 0;
    font-size: 24px;
    line-height: 1.4;
    font-weight: bolder;
}

.homepage-primary-banner .half-banner strong {
    display: inline-block;
    text-transform: uppercase;
    font-size: 80px;
    position: relative;
    top: 0;
    line-height: 0.9;
    max-width: 420px;
}

@media screen and (max-width: 1100px) {

    .homepage-primary-banner p { font-size: 20px; }
    
    .homepage-primary-banner .half-banner strong {
        font-size: 60px;
        max-width: 420px;
    }

}

@media screen and (max-width: 920px) {

    .homepage-primary-banner { grid-template-columns: calc(60% - 10px) calc(40% - 10px); }

    .homepage-primary-banner p { font-size: 16px; }
    
    .homepage-primary-banner .half-banner strong {
        font-size: 40px;
        max-width: 280px;
    }

}

@media screen and (max-width: 768px) {

    .homepage-primary-banner {
        grid-template-columns: 100%;
        grid-gap: 0;
    }

    .homepage-primary-banner > .half-banner:first-child { order: 2; }
    .homepage-primary-banner > .half-banner:last-child { order: 1; }

    .homepage-primary-banner p {
            font-size: 16px; text-align: center; }
    
    .homepage-primary-banner .half-banner strong {
        font-size: 40px;
        max-width: 100%;
        margin-bottom: 10px;
        display: block;
        text-align: center;
    }

}

@media screen and (max-width: 420px) {

    .homepage-primary-banner p { font-size: 13px; }
    
    .homepage-primary-banner .half-banner strong { font-size: 30px; }

}

/* More Buttons Area */
.more-button-area {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

/* text cutting in css */
.latest-secondary .secondary-texts h2,
.homepage-secondary-news h2,
.latest-primary h2,
.latest-primary-texts .texts,
.old-news-flow [class^="old-article-"] h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-orient: vertical;
}

/* image handling */
.latest-primary figure,
.latest-secondary figure,
.old-news-flow figure {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-primary figure img,
.latest-secondary figure img,
.old-news-flow figure img {
    transition: 0.4s;
}

.latest-primary figure:hover img,
.latest-secondary figure:hover img,
.old-news-flow figure:hover img {
    transform: scale(1.1);
}

.latest-primary figure img,
.latest-secondary figure img { object-fit: cover; }